# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\New Assistant Recuitment\4. NAR 21-1\02. Core Training NAR 21-1\ProgPenH3BP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
